<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header style="text-align: center">
      <div style="display: flex; justify-content: center; margin-bottom: 20px">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg"
          alt="DuocUC Logo"
          style="max-width: 240px"
        />
      </div>
      <ion-card-title>¿Olvidaste tu contraseña? 😟</ion-card-title>
      <p>¡No te preocupes! Ingresa tu nombre de usuario para reestablecerla.</p>
    </ion-card-header>
    <div
      style="
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #535353;
        margin: 1em;
      "
    ></div>
    <ion-list>
      <ion-item>
        <ion-input
          label="Usuario"
          [(ngModel)]="user"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button
      class="ion-padding"
      expand="block"
      shape="round"
      (click)="resetPassword()"
      >Recuperar</ion-button
    >
    <ion-button
      class="ion-padding"
      expand="block"
      shape="round"
      color="medium"
      fill="clear"
      (click)="goToLogin()"
      >Volver</ion-button
    >
  </ion-card>
</ion-content>
