<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- INICIO -->
    <ion-tab-button>
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <!-- ESCANER -->
    <ion-tab-button tab="scan">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>Escanear</ion-label>
    </ion-tab-button>
    <!-- PERFIL -->
    <ion-tab-button (click)="this.navigationService.navigateToProfile()">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Mi perfil</ion-label>
    </ion-tab-button>
    <!-- CERRAR SESION -->
    <ion-tab-button (click)="this.navigationService.logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Cerrar sesión</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
