<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RegistrAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  
      <ion-card-header>
        <ion-card-title >
          Hola, {{ username }} 
          <br>
        </ion-card-title>
        <!-- <ion-card-subtitle>Inicia sesión para continuar.</ion-card-subtitle> -->
      </ion-card-header>
      
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="play-circle"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="library"></ion-icon>
      Escanear
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Acerca de
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>